USE [master]
GO
/****** Object:  Database [dbtables]    Script Date: 27/06/2016 14:40:30 ******/
CREATE DATABASE [dbtables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbtables', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\dbtables.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbtables_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\dbtables_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbtables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbtables]
GO
/****** Object:  Table [dbo].[dbusers]    Script Date: 27/06/2016 14:40:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dbusers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](50) NULL,
	[date] [date] NULL,
	[nationality] [varchar](50) NULL,
	[score] [int] NULL,
 CONSTRAINT [PK_dbusers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
